table{
    background-color:#008080 ;
    float: left;
    
}
img{
    width: 330px;
    height:320px;
    border-radius: 50%;
}
h4{
    font-size: 50px;
    color: #20B2AA;
}
span{
    font-size: 10px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: violet;
  }